# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# Virtual envs
.venv/
env/
venv/
ENV/
.conda/
.venv.bak/

# Jupyter notebooks
.ipynb_checkpoints
*.ipynb

# Packaging
build/
dist/
pip-wheel-metadata/
*.egg-info/

# Logs
*.log

# MyPy / Pyright
.mypy_cache/
.dmypy.json
dmypy.json
.pyright/
